@import 'normalize.styl'
/* material colors palette */
dark_primary_color = #1976D2
text_icons = #FFFFFF
primary_text = #212121

/* Cabecera*/
h1
	color text_icons
	@media screen and (max-width: 1024px)
		font-size 30px
	@media screen and (max-width: 644px)
		display none
.logo
	margin 10px 0px
	a
		font-size 30px
.Header-container
	background-color dark_primary_color

/* Navegación */
.menu li a
	text-decoration none
	color primary_text
	text-transform uppercase
	:hover
		

